
  body{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
  }
  
  .signup_left{
    height:770px;    
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
  }

  .signup_form{
    position:absolute;
    top:40px;
  }
  .signup_form {
    color:white;
    
  }
  .signup_form h4{
    text-align: center;
  }



  .signup_form button{
    width:100%;
    background-color: #162F63;
    margin-top: 35px;

  }
  .signup_form p{
    text-align: center;
    padding:20px;
  }
  

  .right_top{
    display: flex;
    flex-direction: row;
    
  } 


  .logo{
    width: 170px;
    height: auto;
    margin-top: 60px;
  }

.top_blob{
  width:300px;
  height:auto;
}
.right_mid{
  display: flex;
  flex-direction:column;
  text-align: center;
}

.right_mid h1{
  font-size: 3.5rem;
  font-weight: 800;
}

.right_low{
  display: flex;
  justify-content: center;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
  background-color:#162F63;
  color:white;
  width:250px;
}

.tab-pane form{
  margin-top: 20px;
}
.signup_right{
  padding: 0;
}

.nav-wrapper a{
color:black;
}
.nav-btn{
  height: 30px;
  justify-content: center;
}
.section{
  align-content: center;
}



.login-form button{

  background-color:#162F63;

}

.section button{
  width:100%;
}

.section{
margin-top:160px;
}



.icon{
  width:30px;
  height:30px;
  margin-right: 20px;
}

.srch{
  justify-content: center;
}
.srch-txt{
  text-align: center;
  padding-bottom: 50px;
  
}
.srch-txt h2{
  font-weight: bold;
  font-size: 2.5rem;
  color:#162f63;

}

.srch-box{
  
  justify-items: flex-end;
  margin-top:20px;
  display: flex;
  flex-direction: row;

}
.srch-box button{
  width:100%;
}

.edu-level{
  width: 100%;
}

.srch-btn{

  margin-top:25px;
}

.home-mid{
  justify-content: flex-end;
  margin-top: 60px;
}
.read-img{
  height: fit-content;
   width: 100%;
}

.sch-bar{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.sch-btn-wrapper{
  display: flex;
  justify-content: flex-end;
  margin-right: 0;
}

.sch-btn-wrapper button{
  margin: 0px 0 15px;
  width: 121px;
}

.nav-item a{
  color:white;
  font-weight: 600;
}

.sch-list{
  padding: 15px;
  /* <div class="card mb-3" "> */

}

.sch-img-wrapper{
      height: 100%;
    object-fit: fill;
}

.tab-wrapper{
  border: 2px solid #162F63;
  width: max-content;
  background-color: darkgray;
  border-radius: 8px;
  margin: auto;
  margin-top: 14px;
}



.nav-tabs .nav-link {
  border: 0px solid transparent;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-tabs {
  border-bottom: 0px solid #dee2e6;
}

.result-row{
  width:100%;
  display:block;
  padding: 8px;
  border-bottom: 1px solid #cccc;

}

.srch-form-wrapper{
  margin-left: 12px;
  width: 65%;
}
.srch-bar-list{
  width:100%;
}
.scroll{
  /* overflow-y: scroll; */
}
.srch-bar-list ul{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.srch-bar{
  width: 70% !important;
  margin-left: 33px;
  margin-right: 0px !important;
}

.school-header{
  height:100px;
  background-color: #f4f4f4;
}

.navbar{
  padding-top: 30px;
}


.sch{
  display: flex;
  flex-direction: column;
}

.sch-name{
  font-size: 2.5rem;
  font-weight: 700;
}
.sch-img{
  width: 100%;
}
.sch-img img{
  width:100%;
  height: fit-content;
  object-fit: cover;
  border-radius: 5px;

}

.sch-table{
  padding-top: 40px;
  width:100%;
  display: flex;
  justify-content: space-around;
}

.table-wrapper{
  width: 70%;
  border: 1px solid #162F63;

}
.sch-detail{
  padding-top: 40px;
  display:block;
  /* flex-direction: column; */
}
.table-bordered td, .table-bordered  {
    border-bottom: 4px solid white;
    border-right: 0;
    border-left: 0;
    background-color: #f4f4f4;
}

.btn-color{
  background-color: #162F63 !important;
  color: white;
}
  
.table td, .table th {
  width: 50%;
    padding: .75rem;
    padding-left: 30px !important;
    vertical-align: top;
}

.tb-footer{
  text-align: center;
  background-color: white !important;
  padding-top: 21px !important;
  padding-bottom: 5px !important`;
}

.tb-footer> a > button{
  width:40%;
  
}

.bld-center{
  font-weight: bold;
  text-align: center;
}

.sch-detail div{
  flex-direction: column;
}

.sch-detail-sec{
  width: 60%;
  padding-bottom: 20px;;
}

.sch-detail-sec ul{
  padding-left: 20px !important;
}

.sch-contact img{
  width:20px;
  height: 20px;
  margin-right: 10px;
}

.school-footer{
  background-color:#262626 ;
  height: 100px;
}

.logo-sm{
  width:57px;
  height: 57px;
}

.home-navbar li{
  padding-left: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #2c2c2c;
}
body a {
  color: inherit;
  text-decoration: none;
}

.header__btn {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  padding: 10px 20px;
  display: inline-block;
  margin-right: 10px;
  background-color: #fff;
  border: 1px solid #2c2c2c;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
}
.header__btn:last-child {
  margin-right: 0;
}
.header__btn:hover, .header__btn.js-active {
  color: #fff;
  background-color: #2c2c2c;
}

.header {
  max-width: 600px;
  margin: 50px auto;
  text-align: center;
}

.header__title {
  margin-bottom: 30px;
  font-size: 2.1rem;
}

.content {
  width: 95%;
  margin: 0 auto 50px;
}

.content__title {
  margin-bottom: 40px;
  font-size: 20px;
  text-align: center;
}

.content__title--m-sm {
  margin-bottom: 10px;
}

.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transition: all 0.15s linear 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s, -webkit-transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #007bff;
}
.multisteps-form__progress-btn.js-active:before {
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}

.multisteps-form__form {
  position: relative;
}

.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/* stollen wizard form css */

.navcontent-wrapper{
  width:100%;
  display: flex;
  flex-direction: row;
}

.progress-wrapper{
  height: 100px;
  height: fit-content;
  background-color: inherit;
  padding: 20px 0px 0px 0px;
}
.wid-100{
  width: 100% !important;
}
.multisteps-form__progress-btn.js-active {
  color: #162F63 !important;
}
.form-content{
  padding: 0px 20px 0px 20px;
}
.prev-header{
  /* background-color:#dee2e6; */
  padding: 5px 0px 1px 0px;
  color:black;
}
.table-sm td, .table-sm th {
  padding: .3rem;
  width: fit-content !important;
}
.table-sm td{
  font-weight: 100;
}
.table-sm td > span,li{
  font-weight: 600;
}
.prev-footer{
  display: flex;
  flex-direction: column;
  background-color: #162F63;
  color: white;
  text-align: center;
}
.mpesa{
  background-color: #e60000;
}
.tigopesa{
  background-color: #01214d;
}
.halopesa{
  background-color: #f27723;
}
.pay > .row{
  padding: 30px 20px 30px 20px;
  margin-top: 20px;
  height: fit-content;
}
.pay > .row input{
  color:white;
  font-weight: 600;
  font-size: 1rem;
}
.admin-general {
  padding:20px 0px 20px 0px;
  justify-content: center;
}
.low-btn{
  text-align: end;
}